[Desktop Entry]
Version=7.0.0
Name=ZelCash Wallet
Comment=ZelCash Desktop GUI Wallet (full node)
GenericName=ZelCash Wallet
Keywords=ZelCash;Crypto-currency;ZCash;
Exec=zelcashswingwallet
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/lib/zelcash-gui-wallet/ZelCash-icon.png
Categories=GNOME;Application;
StartupNotify=true
