Package: zelcash-desktop-gui-wallet
Version: 4.0.0
Section: misc
Priority: low
Architecture: all
Description: Zelcash Desktop GUI Wallet 
Maintainer: miles.manley@zel.cash
Depends: default-jdk, zelcash
